* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

html {
  border-style: groove;
}

header {
  background-color: #404041;
}

.card2 span,
.guess-value, 
button,
h1 span,
h3,
h4 {
  font-weight: 700;
}

h1,
.guess-value {
  color: #dd1972;
  font-size: 60px;
}

h2,
button {
  color: #fff;
}

h1 {
  padding-top: 10px;
  text-align: center;
}

h2 {
  width: 22%;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

h3 {
  color: #6e6e6e;
}

h4 {
  color: #404041;
}

.hr1 {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: 6.5%;
  margin-bottom: 20px;
  margin-left: 465px;
}

.hr2 {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: 6.5%;
  margin-bottom: 20px;
  margin-left: 307px;
}

button {
  background-color: #6e6e6e;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

button:hover {
  background-color: #dd1972;
}

.left-side {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 10px;
  width: 50%;
  border-right: 2px solid #D0D2D3;
}

.right-side {
  background-color: #d4d0d0;
  display: inline-block;
  width: 50%;
  height: 730px;
  float: right;
}

.update-button {
  width: 25%;
  height: 35px;
}

.submit-guess-button,
.reset-game-button,
.clear-game-button {
  width: 25%;
  height: 35px;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 7px;
}

.card1, 
.card2,
.card3 {
  background-color: #fff;
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
}

form {
  display: inline-block;
  width: 35%;
}

input {
  /*border: 2px solid #f7f7f7;*/
  font-size: 15px;
  padding: 5px;
}

#min-range-input,
#max-range-input {
  width: 75%;
  height: 40px;
}

.set-min-range, 
.set-max-range {
  display: inline-block;
  margin: 5px;
  width: 35%;
}

.name1, 
.name2 {
  display: inline-block;
  margin-right: 25px;
}

.player1,
.player2 {
  width: 35%;
  margin-right: 0px;
}
#player1,
#player2 {
  width: 300px;
  height: 40px;
}

#guess1,
#guess2 {
  width: 175px;
  height: 40px;
}

.challenger1-score {
  display: inline-block;
  width: 49%;
  text-align: center;
  border-right: 2px solid #D0D2D3;
}

.challenger2-score {
  display: inline-block;
  width: 49%;
  text-align: center;
}